<h3>Vous voila enregistré/e</h3>

Bonjour {{ name }}! Vous êtes maintenant prêt/e a partager vos événements.</br>

Votre identifiant: {{ name }}.</br>

Pour acceder a votre page de profil veuillez vous connecter sur: <a href="{{ url('login') }}">RayPulse.fr</a>.</br>

Merci!