{% extends "MPPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter un événement</h2>

  {% include "MPPlatformBundle:Advert:form.html.twig" %}

  <p>
    Attention : cet événement sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>

{% endblock %}
