{% block body %}
<div class="well">
        <form class="form-signin" action="{{path('mp_platform_recherche')}}" method="get">
            <input type="text" id="recherche" name="_recherche" />

          <button class="btn btn-xs" type="submit" value="recherche">Recherche</button>  
        </form>
</div>
{% endblock %}