mp_api:
    resource: "@MPApiBundle/Controller/"
    prefix:   /api
    type:     rest

mp_user:
    resource: "@MPUserBundle/Resources/config/routing.yml"
    prefix:   /user

mp_platform:
    resource: "@MPPlatformBundle/Resources/config/routing.yml"
    prefix:   /

app:
    resource: '@AppBundle/Controller/'
    type: annotation
    
login:
    path: /login
    defaults:
        _controller: MPUserBundle:Security:login

login_check:
    path: /login_check

logout:
    path: /logout
