# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
  encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        MP\UserBundle\Entity\User:
            algorithm: bcrypt

  role_hierarchy:
    ROLE_ADMIN:       [ROLE_AUTEUR, ROLE_MODERATEUR]
    ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

  providers:  
      main:
        entity:
            class:    MP\UserBundle\Entity\User
            property: username

  firewalls:
    dev:
        pattern: ^/(_(profiler|wdt)|css|images|js)/
        security: false
    main:
        pattern:      ^/
        anonymous:    true
        provider: main
        form_login:
            login_path: login
            check_path: login
        logout:
            path:       logout
            target:     mp_platform_home
            
  access_control:
    # - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: ^/add, role: ROLE_USER }
    - { path: ^/edit, role: ROLE_USER }
    - { path: ^/delete, role: ROLE_USER }