{% extends "MPPlatformBundle::layout.html.twig" %}
{% block body %}

<div class="">
    {{ include("MPUserBundle:User:favoris.html.twig") }}
</div>

<div class="">
    {{ include("MPUserBundle:User:evenement.html.twig") }}
</div>
{% endblock %}    